<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>{% block title %} Jamakappor-home {% endblock %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
{% include 'navbar.html' %}
{% block content %}		
<div class="jumbotron jumbotron-fluid text-white" style="background-image: url({% static 'images/image_1.jpg' %}); background-size: cover; background-position: center; height: 70vh;">
<div class="container h-100 d-flex flex-column justify-content-center align-items-center" style="background-color: rgba(0, 0, 0, 0.5);">
	<h1 class="display-4">Find the best services for your need</h1>
	<p class="lead">Trusted by millions worldwide</p>
	<form class="form-inline mt-3">
	<input class="form-control mr-sm-2" type="search" placeholder="Search services..." aria-label="Search">
	<button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
	</form>
</div>
</div>

<div class="text-center my-4">
<button class="btn btn-outline-primary mx-1">Boys</button>
<button class="btn btn-outline-primary mx-1">Girls</button>
<button class="btn btn-outline-primary mx-1">Accessories</button>
</div>

<!-- ✅ New Collection Grid -->
<div class="container my-5">
<h2 class="mb-4">New Collection</h2>
<div class="row">
	<div class="col-md-2 mb-2">
	<img src="{% static 'images/img6.jpg' %}" class="img-fluid rounded" style="width: 150px; height: 150px; background-size: cover; background-position: center;">
	</div>
	<div class="col-md-2 mb-2">
	<img src="{% static 'images/ing7.jpg' %}" class="img-fluid rounded" style="width: 150px; height: 150px; background-size: cover; background-position: center;">
	</div>
	<div class="col-md-2 mb-2">
	<img src="{% static 'images/image3.webp' %}" class="img-fluid rounded" style="width: 150px; height: 150px; background-size: cover; background-position: center;">
	</div>

	<div class="col-md-2 mb-2">
	<img src="{% static 'images/image4.jpg' %}" class="img-fluid rounded" style="width: 150px; height: 150px; background-size: cover; background-position: center;">
	</div>

	<div class="col-md-2 mb-2">
	<img src="{% static 'images/img5.jpg' %}" class="img-fluid rounded" style="width: 150px; height: 150px; background-size: cover; background-position: center;">
	</div>
	<div class="col-md-2 mb-2">
	<img src="{% static 'images/image8.jpg' %}" class="img-fluid rounded" style="width: 150px; height: 150px; background-size: cover; background-position: center;">
	</div>
</div>
</div>

<div class="row">
		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/placeholder.png' %}">
			<div class="box-element product">
				<h6><strong>Product</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/placeholder.png' %}">
			<div class="box-element product">
				<h6><strong>Product</strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
				
			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/placeholder.png' %}">
			<div class="box-element product">
				<h6><strong>Product</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

			</div>
		</div>
	</div>
{% endblock content %}    
{% include 'footer.html' %}
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>